<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'plotter/styles.css' %}">
    <link rel="icon" href="https://developer.mozilla.org/static/img/favicon32.png"/>
    <meta charset="UTF-8">
    <meta name="author" content="Darin Vaughan" />
    <meta
        name="description"
        content="BAE599 Homework 1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        User Profile
    </title>
</head>
<body>
    <header>
        <h1 class="header">Solar Panel Sizing</h1>
    </header>
    <nav>
        <header class="profile">
            <h2>
            </h2>
        </header>
        <ul>
            <li><a href="#">Home</a></li>
            <li>
                Link 1
            </li>
            <li>
                Link 2
            </li>
                Link 3
            </ul>
    </nav>
    <main>
        <article class="work">
            <p>Plot</p>
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
        </article>
    </main>
    <footer>
        Last Updated by Darin Vaughan at 9:42 PM, 09/29/2022
    </footer>
</body>
</html>