<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'plotter/styles.css' %}?{% now 'U' %}">
    <link rel="icon" href="https://developer.mozilla.org/static/img/favicon32.png"/>
    <meta charset="UTF-8">
    <meta name="author" content="Darin Vaughan" />
    <meta
        name="description"
        content="BAE599 Homework 1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        User Profile
    </title>
</head>
<body>
    <header>
        <h1 class="header">Solar Panel Sizing</h1>
    </header>
    <nav>
        <header class="profile">
            <h2>
            </h2>
        </header>
        <ul>
            <li><a href="#">Home</a></li>
            <li>
                Link 1
            </li>
            <li>
                Link 2
            </li>
            </ul>
    </nav>
    <main>
        <article class="work">
            <p>Plot</p>
            
            <label>Locations<label><!---
                <select id="locations">
                    <option value="bowling-green">Bowling Green</option>
                    <option value="cincinatti">Cincinatti</option>
                    <option value="jackson">Jackson</option>
                    <option value="lexington">Lexington</option>
                    <option value="london">London</option>
                    <option value="louisville">Louisville</option>
                    <option value="paducah">Paducah</option>
                     This doesn't work but it would be useful
                          Try to fix later so it pulls location names from 
                          the database instead of pre-made list.
                    {% for i in z %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  
                </select>
                  -->
            <form>
                <fieldset>
                  <legend>Locations</legend>
                  <select name="1A" id="select" autocomplete="off" required>
                    <option value="">--Please choose a location--</option>
                    <option value="bowling-green">Bowling Green</option>
                    <option value="cincinatti">Cincinatti</option>
                    <option value="jackson">Jackson</option>
                    <option value="lexington">Lexington</option>
                    <option value="london">London</option>
                    <option value="louisville">Louisville</option>
                    <option value="paducah">Paducah</option>
                  </select>
                </fieldset>
                <fieldset id="custom">
                  <legend>Custom controls</legend>
                  <select name="2A" id="select" autocomplete="off" required>
                    <option value="">--Choose an option--</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                  </select>
                </fieldset>
            </form>
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
        </article>
    </main>
    <footer>
        Last Updated by Darin Vaughan at 9:42 PM, 09/29/2022
    </footer>
</body>
</html>